<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FireDragan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FireDragan.Properties.Settings>
            <setting name="ShowScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterLevel" serializeAs="String">
                <value>Low</value>
            </setting>
            <setting name="ImageExpression" serializeAs="String">
                <value>jpeg,jpg,jpe,gif,bmp,png,tiff</value>
            </setting>
            <setting name="OnOpenNewFocusTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value>Provider=SQLOLEDB.1;User Id=sa;Password=openopen;Initial Catalog=Biz;Data Source=.;</value>
            </setting>
            <setting name="PageExpression" serializeAs="String">
                <value>html,htm,php,asp,aspx,mspx</value>
            </setting>
            <setting name="AlterImageLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="JavascriptExpression" serializeAs="String">
                <value>js</value>
            </setting>
            <setting name="StyleExpression" serializeAs="String">
                <value>css</value>
            </setting>
            <setting name="CheckUrlExistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxGrabThreads" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxGrabBuckets" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PreservePath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>10240</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1)</value>
            </setting>
            <setting name="GrabberSaveLocation" serializeAs="String">
                <value>E:\Sankar\Temp\Test\abc\Gra</value>
            </setting>
            <setting name="ImageSaveLocation" serializeAs="String">
                <value>E:\Sankar\Temp\Test\abc</value>
            </setting>
            <setting name="UseReferrer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinkProcPreString" serializeAs="String">
                <value>&amp;url=|50&amp;u=|60&amp;u=</value>
            </setting>
            <setting name="LinkProcPostString" serializeAs="String">
                <value>&amp;p|&amp;link</value>
            </setting>
            <setting name="ImageCategories" serializeAs="String">
                <value>Process|Presentation</value>
            </setting>
            <setting name="IdentityDB" serializeAs="String">
                <value>Data Source=YH1323\SQLExpress;Initial Catalog=Biz;Integrated Security=True;Pooling=False</value>
            </setting>
            <setting name="MaxTabs" serializeAs="String">
                <value>3</value>
            </setting>
        </FireDragan.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
