<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oliva.GenX.LinkMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Oliva.GenX.LinkMgr.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Provider=SQLOLEDB.1;User Id=sa;Password=Karlite@123$;Initial Catalog=t_Biz;Data Source=.\db;</value>
            </setting>
            <setting name="Categories" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageExpression" serializeAs="String">
                <value />
            </setting>
        </Oliva.GenX.LinkMgr.Properties.Settings>
    </userSettings>
</configuration>