<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FormSmartGetIm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FormSmartGetIm.Properties.Settings>
            <setting name="savePath" serializeAs="String">
                <value>F:\windows\2302\Dmp\mytool</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>F:\windows\2302\Dmp\mytool\SmartIm.log</value>
            </setting>
            <setting name="linkList" serializeAs="String">
                <value>F:\windows\2302\Dmp\mytool\Links.log</value>
            </setting>
            <setting name="domains" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ignoreList" serializeAs="String">
                <value>F:\windows\2302\Dmp\mytool\blacklist.txt</value>
            </setting>
            <setting name="procMap" serializeAs="String">
                <value>SolProc.map</value>
            </setting>
            <setting name="xPath" serializeAs="String">
                <value>F:\windows\2302\Dmp\mytool\x-mark-icon.png</value>
            </setting>
        </FormSmartGetIm.Properties.Settings>
    </userSettings>
</configuration>
