<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Proxy Details -->
    <add key="UseProxy" value="false"></add>
    <add key="ProxyUri" value="http://172.19.56.18:8080"></add>
    <add key="ProxyDomain" value="satyam"></add>
    <add key="ProxyUser" value="sv26366"></add>
    <add key="ProxyPassword" value="karlite123$"></add>

    <!-- Site Credentials -->
    <add key="UseSiteCredentials" value="false"></add>
    <add key="SiteUserName" value="AUTOLOGIN"></add>

    <!-- Web Config parameters -->
    <add key="BufferSize" value="10240"></add>
    <add key="TimeOut" value="120"></add>
    <add key="UserAgent" value="Mozilla/5.0 (Windows; U; MSIE 9.0; Windows NT 9.0; en-US)"></add>
    <add key="UseReferrer" value="false"></add>
    <add key="AllowRedirect" value="false"></add>

    <!-- Location details -->
    <add key="SaveLocation" value="C:\Windows\System32\2302\Dmp\ei-0\"></add>
    <add key="ControlDatabase" value="User Id=sa;Password=Karlite@123$;Initial Catalog=Biz;Data Source=.\db;"></add>

    <!-- Misc Config Parameters -->
    <add key="StartInHome" value="false"></add>
    <add key="Popup" value="Block"></add>
    <add key="CheckUrlExistance" value="false"></add>
    <add key="MaxGrabThreads" value="1"></add>
    <add key="MaxGrabBuckets" value="1"></add>
    <add key="PreservePath" value="true"></add>
    <add key="FocusTab" value="true"></add>

    <add key="LogFile" value="test.log"></add>
    <add key="LogLevel" value="Verbose"></add>
    <add key="pwd" value="ok"></add>

    <add key="CheckConnectivity" value="true"/>

    <add key="GroupByTag" value="true"/>

    <add key="Commands" value="GrabListByBlogUnique|GrabNormal|GrabTop|GrabSimple|GrabListVw|GrabListAllDomains|GrabListByBlogAll|TempImageBamLinks|GrabListByPatternVw|GrabDirect"/>
  </appSettings>
</configuration>
