<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UsbEnabler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <userSettings>
    <UsbEnabler.Properties.Settings>
      <setting name="SkipDirs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>$Usb-Conf.store</string>
            <string>$Recycle.Bin</string>
            <string>boot</string>
            <string>bPowerTemp</string>
            <string>config.Msi</string>
            <string>Documents and Settings</string>
            <string>MSOCache</string>
            <string>PerfLogs</string>
            <string>Program Files</string>
            <string>Program Files (x86)</string>
            <string>ProgramData</string>
            <string>Recovery</string>
            <string>System Volume Information</string>
            <string>Windows</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ShowUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StorePath" serializeAs="String">
        <value>.\$Usb-Conf.store</value>
      </setting>
      <setting name="FileExtList" serializeAs="String">
        <value>jpg,jpeg,png</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>~temp12.log</value>
      </setting>
      <setting name="ScanAllDirs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParseDirs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>c:\dump</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MinSizeKb" serializeAs="String">
        <value>150</value>
      </setting>
    </UsbEnabler.Properties.Settings>
  </userSettings>
</configuration>
