<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OliverBlogCruz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <OliverBlogCruz.Properties.Settings>
            <setting name="FileExtExpressionJS" serializeAs="String">
                <value>js</value>
            </setting>
            <setting name="FileExtExpressionWebPage" serializeAs="String">
                <value>html,htm,php,asp,aspx,mspx</value>
            </setting>
            <setting name="FileExtExpressionImage" serializeAs="String">
                <value>jpeg,jpg,jpe,gif,bmp,png,tiff</value>
            </setting>
            <setting name="FileExtExpressionStyle" serializeAs="String">
                <value>css</value>
            </setting>
            <setting name="StoreBasePath" serializeAs="String">
                <value>d:\temp\test\</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Test User Agent</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value>Provider=SQLOLEDB.1;User Id=sa;Password=Karlite@123$;Initial Catalog=Biz;Data Source=.\db;</value>
            </setting>
            <setting name="FiltersInclude" serializeAs="String">
                <value></value>
            </setting>
          <setting name="FiltersExclude" serializeAs="String">
            <value></value>
          </setting>
          <setting name="UrlPattern" serializeAs="String">
            <value>http://www.exbii.com/showthread.php?t=[site]&amp;page=[i]</value>
          </setting>
        </OliverBlogCruz.Properties.Settings>
    </userSettings>
</configuration>
