<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OliverBlogLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OliverBlogLog.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Provider=SQLOLEDB.1;User Id=sa;Password=Karlite@123$;Initial Catalog=Biz;Data Source=.\db;</value>
            </setting>
            <setting name="ImageViewer" serializeAs="String">
                <value>C:\Program Files\ACD Systems\ACDSee\14.0\acdsee14.exe</value>
            </setting>
            <setting name="ArchievePath" serializeAs="String">
                <value>S:\gr005\</value>
            </setting>
        </OliverBlogLog.Properties.Settings>
    </userSettings>
</configuration>